<div>
  <div class="TitleProds">
     <h1 class="titleSection">Carrito</h1>
  </div>
   
    <div>
      <button class="deleteBtn" onclick="deleteCart()">Vaciar carrito</button>
           <button onclick="buy()" class="buyButton">Generar pedido</button>
    </div>
    <div class="cartView">

        <ul class="cards" id="cards">
        {{#each cart.products}}
    
            <li class="productCart">
                 <div>
           <img class="imageCart" src="{{this.product.thumbnails.[0]}}"></img>
           </div>
            <div class="cardCartItem">
            Titulo:{{this.product.title}}
           </div>
            <div class="cardCartItem"> 
            Precio p/u: ${{this.product.price}}
           </div>
            <div class="cardCartItem">
            Descripcion: {{this.product.description}}
           </div>
            <div class="titleTable cardCartItem">
            Cantidad: {{this.quantity}}
           </div>
            <div class="cardCartItem">
            <button class="deleteBtn" onclick="deleteItemCart(this)">X</button>
           <div hidden id="idItem">{{this.product._id}}</div>
           </div>
       
           
           </li>
       
        {{/each}}
        </ul>
    </div>
    <!-- modal -->
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Ticket</h2>
    <label for="code">Codigo de compra:</label>
    <span id="code"></span>
    <br>
    <label for="email">Email:</label>
    <span id="emailuser"></span>
    <br>
    <label for="products">Productos:</label>
     <table id="productsAcepted">
  <tr>
    <th  class="titleTable">Titulo</th>
    <th class="titleTable">Precio</th>
    <th class="titleTable">Cantidad</th>
  </tr>
</table>
<hr>
 <div>
  <label>Total:$ <p id="totalAmount"></p></label>
 </div>
 <hr>
 <div>
  <p id="panelNotificacion"></p>
 </div>
  </div>
</div>
    <nav name="paginado">
        <div id="back" ><button onclick="navigateTo(/products/)">Back</button></div>
    </nav>
</div>
<script src="/js/cart.js"></script>