<div id="profile-container">
  <div id="profile-header" class="TitleProds">
    <h1 id="profile-title" class="titleSection">PROFILE</h1>
     <p id="username">Empresa: {{user.market}}</p>
     <p id="username">Direccion Empresa: {{user.marketAddress}}</p>
    <p id="username">Username: {{user.username}}</p>
    <p id="email">Email: {{user.email}}</p>
    <p id="admin">Rol: {{user.role}}</p>
  </div>
  <nav id="profile-navigation" name="paginado">
    <div id="back-button">
      <button ><a href="/products">Productos</a></button>
    </div>
       <div id="back-button">
        {{#if user.isAdmin}}
      <button ><a href="/admin/console/users/">Administrar Usuarios</a></button>
      <button ><a href="/admin/console/products/">Administrar Productos</a></button>
         {{/if}}
    </div>
     <div id="back-button">
    <button id="logout" onclick="logout()" >Cerrar Sesión</button>
    </div>
  </nav>
</div>
<script src="/js/profile.js"></script>